# top-most EditorConfig file
root = true

[*]

# For Harmony patch classes and parameters
resharper_inconsistent_naming_highlighting = hint

insert_final_newline = true
trim_trailing_whitespace = true
